.app{
    width:100vw;
    height: 100vh;
    background-color:#fafafa;
    font-family: 'Roboto',sans-serif;
}
.feed{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex:1;
    flex-direction: column;
}

.user__pin{
    display:flex;
    align-items:center;
    
}

.save__button__container{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 10px;

}

.save__button{
    color: white;
    background-color:#e60023;
    padding:10px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
}

.save__button:hover{
    cursor: pointer
}